%br
%h2 Pilots

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th Name
    %th Country
    %th Tours
    %th{:width => "240px"} Actions

  - @pilots.each do |pilot|
    %tr
      %td= pilot.name
      %td= pilot.country.name
      %td= pilot.tours_in(@tournament)
      %td= button_to 'Pick pilot', add_to_tour_path(:pilot_id => pilot.id, :tour_id => @tour.id), :class => "btn btn-small"
