%br
%h2 Пилоты

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th Имя
    %th Страна
    %th{:width => "240px"} Действия

  - @pilots.each do |pilot|
    %tr
      %td= pilot.name
      %td= pilot.country.name
      - unless @tournament.pilots.include?(pilot)
        %td= button_to 'Выбрать пилота', add_pilot_path(:pilot_id => pilot.id, :tournament_id => @tournament.id), :class => "btn btn-small"
      -else
        %td= "Уже выбран"
