%ul.nav.pull-left
  %li{ :class => params[:controller] == 'admin/pilots' ? "active" : "" }
    = link_to "Пилоты", admin_pilots_path
  %li{ :class => params[:controller] == 'admin/tournaments' ? "active" : "" }
    = link_to "Соревнования", admin_tournaments_path
  %li
    = link_to 'Выйти', destroy_user_session_path, :method=>'delete'
