= link_to "Back", :back, :class => "btn"
%br
%br
%table.table.table-bordered.table-condensed
  %tr
    %td{ :width => "100px" }
      Имя
    %td
      = @pilot.name
  %tr
    %td
      Страна
    %td
      = @pilot.country.name
  %tr
    %td
      Создан
    %td
      = @pilot.created_at
